.RDTokenAdditional-Main{
    width: 100%;
}

.RDTokenAdditional {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.RDTokenAdditional-BodyElem {
    display: flex;
    flex-direction: column;
}