.ModalSpace {
    width: 50%;
    height: 40%;
    border: 2px solid black;
    background-color: rgba(255,255,255,0.9);
    border-radius: 10px;
    z-index: 100;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ModalContent{

}

.ModalContent-Footer{

}