.ModalSpace {
    width: 50%;
    height: 40%;
    border: 2px solid black;
    background-color: rgba(255,255,255,0.9);
    border-radius: 10px;
    z-index: 100;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.Modal-Body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85%;
}

.Modal-Footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 15%;
    border-top: 1px solid black;
    background-color: lightgrey;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}