.Dashboard-Header {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    margin-bottom: 20px;
}

.Dashboard-Status{
    display: flex;
    width: 100%;
    align-items: center;
}

.Dashboard-AccountView {
    width: 80%;
    margin-left: 10px;
    margin-bottom: 10px;
}

.ContractInfo-Block {
    display: flex;
    flex-direction: column;
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
}

.Descrpt-Label {
    margin-bottom: 15px;
}

.ContractOperation-Block {
    display: flex;
    justify-content: space-around;
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
}

.Status-Block {
    width: 25px;
    height: 25px;
    border-radius: 60px;
    margin-left: 20px;
}

.Status-Block.Connected {
    background-color: green;
}

.Status-Block.Disconnected {
    background-color: red;
}

.Component-Container {
    border: 1px;
    border-style: solid;
    border-radius: 5px;
}

.Dashboard-ConstructorParams {
    display: flex;
    flex-direction: column;
    border: 1px;
    border-style: groove;
    border-radius: 5px;
    margin-top: 15px;
    padding-bottom: 10px;
    padding-left: 10px;
}