.Account-View-Body{
    display: flex;
    flex-direction: column;
}

.AccountView-ConnectButton {
    margin-top: 10px;
    width: 130px;
}

.AccountView-Buttons-Action{
    display: flex;
    justify-content: space-between;
}